@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800.900&display=swap')
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.banner
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #3475ca;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
}
.banner .content
{
	position: relative;
	max-width: 750px;
	text-align: center;
}
.banner .content h2
{
	color: #fff;
	font-size: 60px;
}
.banner .content p
{
	color: #fff;
	font-size: 18px;
}
.banner header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*padding: 40px 100px;*/
	padding: 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
.banner header .logo
{
	color: #fff;
	position: relative; width: 100%; height: 30vh;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
.bannerT
{
	position: relative;
	width: 100%;
	height: 100%;
	background: #3475ca;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bannerT img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
}
.bannerT .content
{
	position: relative;
	max-width: 750px;
	text-align: center;
}
.bannerT .content h2
{
	color: #fff;
	font-size: 60px;
}
.bannerT .content p
{
	color: #fff;
	font-size: 18px;
}.bannerT header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*padding: 40px 100px;*/
	padding: 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}.bannerT header .logo
{
	color: #fff;
	position: relative; width: 100%; height: 30vh;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
.container {

}

.banner header .toggle
{
	position: relative;
	width: 36px;
	height: 28px;
	background: url(toggle.png);
	background-size: cover;
	cursor: pointer;
}
.about
{
	position: relative;
	width: 100%;
	display: flex;
}
.aboutG
{
	position: relative;
	width: 100%;
	display: flex;
	margin-left: 80px;
}
.about .contentBx
{
	background: #162c3b;
	padding: 100px;
	width: 50%;
}
.about .contentBx h1
{
	color: #000000;
	font-size: 30px;
}
.about .contentBx1
{
	background: #162c3b;
	padding: 100px;
	width: 70%;
}
.about .contentBx2
{
	background: #162c3b;
	padding: 100px;
	width: 30%;
}
.about .contentBxG
{
	background: #162c3b;
	padding: 100px;
	width: 100%;
}
.about .contentBx1 h2
{
	color: #fff;
	font-size: 40px;
}.heading
{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.text
{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}
.about .imgBx
{
	background: url(teamsoho.png);
	width: 50%;
	height: 600px;
	background-size: cover;
	background-position: center;
}
.about .imgBx1
{
	background: url(abstract.png);
	width: 50%;
	height: 600px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.about .login{
	width: 50%;
	height: 600px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.services
{
	background: #12222d;
	padding: 100px;
	text-align: center;
}
.services .container
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 60px;
}
.services .container .serviceBx
{
	position: relative;
	background: #fff;
	width: 350px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services .container .serviceBx img
{
	max-width: 100px;
}
.services .container .serviceBx h2
{
	font-weight: 500;
	font-size: 20px
	letter-spacing: 1px;
}
.technology
{
	background: #3f8ffc;
	/*width: 100%;*/
	padding: 100px;
	padding-top: 300px;
	margin-top: -300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.technology .contentBx
{
	max-width: 800px;
}
.technology .imgBx
{
	max-width: 250px;
}
.technology .imgBx img
{
	max-width: 100%;
}
.client
{
	background: #162c3b;
	padding: 100px;
	text-align: center;
}
.client .imgBx
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
}
.client .imgBx img
{
	max-width: 200px;
	margin: 20px;
	opacity: 0.25;
	cursor: pointer;
}
.client .imgBx img:hover
{
	opacity: 1;
}
.testimonials
{
	position: relative;
	padding: 100px;
	background: #12222d;
	text-align: center;
}
.testimonials .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	flex-wrap: wrap;
}
.testimonials .container .contentBx
{
	background: #fff;
	padding: 60px 50px;
	width: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}
.testimonials .container .contentBx p
{
	font-style: italic;
}
.testimonials .container .contentBx h3
{
	width: 100%;
	text-align: end;
	font-weight: 500;
	color: #3f8ffc;
}
.contact
{
	padding: 100px;
	background: url("red.jpg") !important;
	text-align: center;
}
.imgBx2
{
	background: url("bg2.jpg");
	background-size: cover;
	background-position: center;
	width: 50%;
}
.redbg
{
	background: url("red.jpg") !important;
	background-size: cover;
	background-position: center;
}
.form .inputBx
{
	margin-bottom: 40px;
}
.form .inputBx input
{
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder
{
	color: #fff;
}
.form .inputBx textarea
{
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	min-height: 150px;
	border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder
{
	color: #fff;
}
.form .inputBx input[type="submit"]
{
	width: 150px;
	background: #fff;
	color: #111;
	cursor: pointer;
	font-weight: 400px;
}
.footer
{
	background: #162c3b;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer ul li
{
	list-style: none;
}
.footer ul li a
{
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
}
.footer ul li a img
{
	filter: invert(1);
	max-width: 20px;
}
@media (max-width: 991px)
{
	.banner
	{
		padding: 50px;
	}
	.banner header
	{
		padding: 20px 50px;
	}
	.banner content h2
	{
		font-size: 36px;
	}
	.banner content p
	{
		font-size: 16px;
	}
	.about
	{
		flex-direction: column;
	}
	.about .contentBx,
	.about .imgBx
	{
		width: 100%;
		padding: 50px;
		min-height: 400px;
		text-align: center;
	}
	.services
	{
		padding: 50px;
	}
	.services .container
	{
		justify-content: center;
		margin-top: 20px;
	}
	.services .container .serviceBx
	{
		margin: 20px;
		width: 300px;
		height: 350px;
	}
	.technology
	{
		padding: 50px;
		padding-top: 300px;
		justify-content: center;
		flex-direction: column;
	}
	.technology .imgBx
	{
		margin-top: 40px;
		max-width: 250px;
	}
	.client
	{
		padding: 50px;
	}
	.client .imgBx
	{
		justify-content: center;
	}
	.testimonials
	{
		padding: 50px;
	}
	.testimonials .contentBx
	{
		padding: 60px 40px;
		max-width: 550px;
		margin-bottom: 40px;
	}
	.testimonials .contentBx:last-child
	{
		margin-bottom: 0px;
	}
	.contact
	{
		padding: 50px;
	}
	.footer
	{
		padding: 20px 50px;
		flex-direction: column-reverse;
		text-align: center;
	}
	.footer ul
	{
		margin-bottom: 20px;
	}
}
#faq {
  margin-top: 20px;
}
.accordion-item {
    padding: 0 30px;
}
.accordion-section h3 {
    font-size: 24px;
    color: #1c81ac;
    margin-bottom: 14px;
    text-transform: capitalize;
    margin-top: 0;
    letter-spacing: 0;
}
section h3 {
    font-weight: 600;
    letter-spacing: 0.5px;
}
.panel-group {
    margin-bottom: 0;
}
.accordion-section .panel-heading {
    background-color: #ebebeb;
    color: #323b40;
    padding: 10px 0 12px;
}
.accordion-section h4.panel-title {
    padding: 0 10px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0;
    font-weight: 400;
}
#faq .collapsed {
    display: table;
    line-height: 22px;
}
#faq .faq-toggle {
    float: left;
}
section.faq .fa:before {
    font-size: 20px;
    padding-right: 8px;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .pricing-plans-wrapper .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}
section.faq .panel-body p {
    text-align: left;
    font-size: 16px;
}
p, .ul li {
    color: #5b666d;
}
ol, ul {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
